@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {

    body {
      @apply font-secondary bg-primary text-white leading-loose;
    }
    .h1 {
      @apply text-[3rem] xl:text-[4rem] leading-[1.1] font-semibold;
    }
    .h2 {
      @apply text-[2.25rem] xl:text-[3rem] leading-[1.1] font-semibold;
    }
    .h3 {
      @apply text-[1.25rem] xl:text-[1.5rem] leading-[1.1] font-semibold;
    }
    .text-outline {
      -webkit-text-stroke: 1px #ffffff;
    }
  
    .text-outline-hover {
      -webkit-text-stroke: 1px #00ff99;
    }

    #app-container {
      transform: scale(0.85);
      transform-origin: top left;
      width: 117.65%;
      height: 117.65%;
    }

    .custom-scrollbar {
      overflow-x: auto;
    }

    .custom-scrollbar::-webkit-scrollbar {
      height: .5rem;
      width: 5px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
      background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #00ff99;
      border-radius: .5rem;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #00ff99;
    }

    /* Firefox */
    /* .custom-scrollbar {
      scrollbar-width: thin;
      scrollbar-color: #00ff99;
      border-radius: 1rem;
    } */

  }


